theResearchSite/Connected Services/creditCardService/creditService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="creditCardCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="businessId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="creditNumberOfCostumer" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CardexpireDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="creditCardCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="creditCardCheckResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowMoneyAmount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bussinesId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowMoneyAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ShowMoneyAmountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="creditCardCheckSoapIn">
    <wsdl:part name="parameters" element="tns:creditCardCheck" />
  </wsdl:message>
  <wsdl:message name="creditCardCheckSoapOut">
    <wsdl:part name="parameters" element="tns:creditCardCheckResponse" />
  </wsdl:message>
  <wsdl:message name="ShowMoneyAmountSoapIn">
    <wsdl:part name="parameters" element="tns:ShowMoneyAmount" />
  </wsdl:message>
  <wsdl:message name="ShowMoneyAmountSoapOut">
    <wsdl:part name="parameters" element="tns:ShowMoneyAmountResponse" />
  </wsdl:message>
  <wsdl:portType name="creditServiceSoap">
    <wsdl:operation name="creditCardCheck">
      <wsdl:input message="tns:creditCardCheckSoapIn" />
      <wsdl:output message="tns:creditCardCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowMoneyAmount">
      <wsdl:input message="tns:ShowMoneyAmountSoapIn" />
      <wsdl:output message="tns:ShowMoneyAmountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="creditServiceSoap" type="tns:creditServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="creditCardCheck">
      <soap:operation soapAction="http://tempuri.org/creditCardCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowMoneyAmount">
      <soap:operation soapAction="http://tempuri.org/ShowMoneyAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="creditServiceSoap12" type="tns:creditServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="creditCardCheck">
      <soap12:operation soapAction="http://tempuri.org/creditCardCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowMoneyAmount">
      <soap12:operation soapAction="http://tempuri.org/ShowMoneyAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="creditService">
    <wsdl:port name="creditServiceSoap" binding="tns:creditServiceSoap">
      <soap:address location="https://localhost:44394/creditService.asmx" />
    </wsdl:port>
    <wsdl:port name="creditServiceSoap12" binding="tns:creditServiceSoap12">
      <soap12:address location="https://localhost:44394/creditService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>